.sing-right{
     position:absolute;
     top:10;
     right:10px;
}

.tec{
    width: 850px;
   margin-left: -150px;

}

.c { color: green; }

.wid{

    max-width: 200px;
}
.bord{
    border-bottom: 0px solid #e9ecef;
}

.add-bord-top{
width: 100%;
    border-top: 1px solid #e9ecef;
}
.width-td{
    width: 41px;
}
